<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registered Data</title>
</head>
<body>
<div align="center">
    <h1>Registered User Information</h1>
    <div>
        <p>Name: <strong th:text="${RegisterForm.name}"></strong></p>
        <p>Email: <strong th:text="${RegisterForm.email}"></strong></p>
        <p>Password: <strong th:text="${RegisterForm.password}"></strong></p>
        <p>Gender: <strong th:text="${RegisterForm.gender}"></strong></p>
        <p>Address: <strong th:text="${RegisterForm.address}"></strong></p>
        <p>Married: <strong th:text="${RegisterForm.married}"></strong></p>
        <p>Profession: <strong th:text="${RegisterForm.profession}"></strong></p>
    </div>
</div>
</body>
</html>